<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script th:src="@{echarts.js}" type="text/javascript"></script>
</head>
<body>
<!--<table>-->
    <!--<tr>-->
        <!--<th>NAME</th>-->
        <!--<th>PRICE</th>-->
        <!--<th>IN STOCK</th>-->
    <!--</tr>-->
    <!--<tr th:each="prod,iterStat : ${msgQueue}">-->
        <!--<td th:text="${prod.name}">Onions</td>-->
        <!--<td th:text="${prod.price}">2.41</td>-->
        <!--<td th:text="${prod.inStock}? #{true} : #{false}">yes</td>-->
    <!--</tr>-->
<!--</table>-->
123233223
<p th:each="msg,iterStat:${msgQueue}">
    <h1 th:text="${msg.key}">no key</h1>
    <div th:each="que:${msg.value}">
        <h2 th:text="${que.responseTime}">no time</h2>
    </div>
</p>
</body>
</html>