<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>服务调度策略</title>
    <script th:src="@{jquery-1.10.2.min.js}" type="text/javascript"></script>
    <script th:src="@{echarts.js}" type="text/javascript"></script>

    <script th:src="@{jquery.easing.min.js}" type="text/javascript"></script>
    <script th:src="@{jquery.lavalamp.min.js}" type="text/javascript"></script>

    <link th:href="@{bootstrap/css/common.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/lavalamp_test.css}" rel="stylesheet"/>
</head>
<body>

<script type="text/javascript">
    $(function () {
        $("#2").lavaLamp({
            fx: "backout",
            speed: 700,
            click: function (event, menuItem) {
                return true;
            }
        });
    });
</script>
<div id="nav">
    <ul class="lavaLampNoImage" id="2">
        <li class="current"><a href="/index.html">服务监控</a></li>
        <li><a href="/topology.html">服务结构图</a></li>
    </ul>
</div>


<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="monitor"></div>
<script type="text/javascript" th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('monitor'));
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '服务响应时间',
            subtext: '来自gateway网关'
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30']
        },
        yAxis: {},
    };

    // 异步加载数据
    function update() {
        $.get('/getData').done(function (msgMap) {
            // 填入数据

            var serie2 = new Array();
            var legendData = new Array();

            var index = 0;
            for (var data in msgMap) {
                //data 服务名
                //alert(data);
                var templine = new Object();
                legendData[index] = data;
                templine.name = data;
                templine.type = "line";
                var tempdata = new Array();

                var responses = msgMap[data];
                for (var entity in responses) {
                    //服务响应时间
                    tempdata[responses.length - entity] = responses[entity].responseTime;
                    //alert(responses[entity].responseTime);
                }
                templine.data = tempdata;
                serie2[index] = templine;
                index++;
            }
            myChart.setOption({
                legend: {data: legendData},
                series: serie2
            });
        });
    }
    window.setInterval(update, 1000);

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

</script>

</body>
</html>